@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

.va {
    display: flex;
    align-items: center;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

a {
    color: #3b7adf;
}

a:hover {
    text-decoration: underline;
    color: #3b7adf;
}

hr {
    background: #24272c;
    /* width: 100%;
    margin-left: 1, 5rem; */
}

.hero {
    background: #eceef1;
    max-width: 100%;
}

.title,
.subtitle {
    color: rgb(13, 13, 13);
}

.navbar .navbar-item {
    color: #190af3;
}

.navbar .navbar-item.is-active {
    color: #190af3;
    font-weight: 700;
}

.navbar .navbar-item:hover {
    background: transparent;
    color: white;
}

.navbar .navbar-item a {
    margin-left: 1rem;
    color: #190af3;
}

.blog-posts {
    min-height: 100vh;
    background: white;
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.blog-posts article {
    padding: 1.5rem;
}

.blog-posts .post img {
    border-radius: 6px;
}

.blog-posts .post .post-category {
    color: #3b7adf;
}

.blog-posts .post .post-title {
    font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
    line-height: 1.5rem;
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-family: 'IBM Plex Serif', serif;
    color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
    height: 380px;
}


/* .prod {
    display: flex;
} */

.desknuvens {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vanilla-img {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 768px;
}

.akura-img {
    width: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 768px;
}

.column.post.is-4.akura {
    display: flex;
    /* background: #3b7adf; */
}

#back-to-top {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    border-radius: .6rem;
    padding: 1rem;
    display: block;
    cursor: pointer;
    color: black !important;
}


/* the end button topo  */


/* .hero-body { */


/* background-color: aqua; */


/* display: flex;
    justify-content: center;
    align-items: center; */


/* @media(max-width: 768px) {
    .prod {
        flex-direction: column-reverse;
        display: flex;
    }
}

.downloads {
    padding-left: 4rem;
} */


/* .hero-body {
    width: 100%;
} */

@media screen and (max-width: 1018px) {
    .navbar,
    .hero-head,
    .navbar-end,
    .navbar-menu,
    .navbar-start {
        display: flex !important;
        justify-content: space-between !important;
        width: 100% !important;
    }
    .navbar-end {
        display: flex !important;
        justify-content: flex-end !important;
    }
}


/* button ibptax */
.ibptax-button{
    font-size: 1.6rem;
    padding: 10px 30px;
    color: #ffff;
    background-color:#3b7adf;
    border-radius: 8px;
    cursor: pointer;
}
